# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml

# Go
core/bin/
core/dist/
core/prebuilt/
core/*.exe
core/*.dll
core/*.so
core/*.dylib
core/*.test
core/coverage.out

# Electron / Node
ElectronApp/node_modules/
ElectronApp/out/
ElectronApp/.electron-vite/
